# Web Scraping Project: Most Highly-Ranked Films

_Instructions and dataset taken from IBM's [Python Project for Data Engineering](https://www.coursera.org/learn/python-project-for-data-engineering) from Coursera_

# Objectives
- Use the `requests` and `BeautifulSoup` libraries to extract the contents of a web page
- Analyze the `HTML` code of a webpage to find the relevant information
- Extract the relevant information and save it in the required form

# Scenario
Consider that you have been hired by a Multiplex management organization to extract the information of the top 50 movies with the best average rating from the web link shared above.

- The information required is Average Rank, Film, and Year
- Save it to a CSV file
- Load the information to a database under the table with name `Top_50`.

# Prerequisite Steps
## 1. Install required libraries

```bash
python -m pip install -r requirements.txt
```

# Imports and Definitions

In [44]:
# for getting the HTML code of the target page
import requests 

# for exporting data into a database file
import sqlite3

# for data frame compilation and utilities
import pandas as pd 

# for parsing required data from the target page's HTML code
from bs4 import BeautifulSoup

# for deleting the output files, if existing, before the whole scraping process is run
import os

In [45]:
# URL of webpage to scrape
TARGET_URL = "https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films"

# Filename of output CSV file
TARGET_OUTPUT_CSV_FILE = "top_50_films.csv"

# Filename of output Database file
TARGET_DB_NAME = "Movies.db"

# Table name to use when exporting to Database
TARGET_DB_TABLE_NAME = "Top_50"

# Number of Top 50 Highly-Rated films to scrape
NUM_ENTRIES_TO_SCRAPE = 50

Delete target output files, if existing, to start each run with a clean slate

In [46]:
if os.path.exists(TARGET_OUTPUT_CSV_FILE):
    os.remove(TARGET_OUTPUT_CSV_FILE)

# When re-running, sometimes the database resource is still held by Jupyter Notebook.
# If that should happen, just skip the deletion
try:
    if os.path.exists(TARGET_DB_NAME):
        os.remove(TARGET_DB_NAME)
except:
    pass

# Project Task 1: Load the webpage for scraping
Develop a script that loads the entire web page and parses the resulting text in HTML format.

In [47]:
# Get the HTML code for the page
html_page = requests.get(TARGET_URL).text

# Parse the HTML code, get all the needed rows (with tag 'tr') from the first table
data = BeautifulSoup(html_page, "html.parser")

# Project Task 2: Analyze the HTML code for relevant information

1. Open the web page in a browser then locate the required table.
2. Right-click on the table and click `Inspect` or something similar, depending on what browser you are using.
![alt text](resources/00_inspect_table.png)
3. This opens the HTML code for the page and takes you directly to the point where the definition of the table begins. Take note of this structure in preparation for webscraping, i.e. what tags to look for for each row.
![alt text](resources/01_html_table.png)

As we can see from the HTML code, the table we are looking for has a `<tbody>` tag inside a `<table>` tag. Using the `find_all()` of a `bs4` data object, we can get an iterable `ResultSet` for sections containing the tag `table`.

From this, we find that the table with caption **"Highest Ranked Films (According to the Top 100 Lists of 5 Sources)"** that we need is the first table (index 0). Let's store that to a variable `target_table_data`.

In [48]:
tables = data.find_all('table')
print(f"Data type of tables: {type(tables)}")
for i, table in enumerate(tables):
    print(f"Table {i} Caption : {table.find_all('caption')}")

target_table_data = tables[0]

Data type of tables: <class 'bs4.element.ResultSet'>
Table 0 Caption : [<caption>Highest Ranked Films (According to the Top 100 Lists of 5 Sources)
</caption>]
Table 1 Caption : [<caption>Decades with the Most Highly Ranked Films
</caption>]
Table 2 Caption : [<caption>Genres with the Most Highly Ranked Films
</caption>]

Next, we see that inside the `target_table_data` are the rows denoted by the `<tr>` tag. Let's take a peek at the first three(3) rows:

In [49]:
target_rows_data = target_table_data.find_all('tr')
for i in range(0,3):
    print(f"Row {i}: {target_rows_data[i]}\n")

Row 0: <tr>
<th>Average Rank</th>
<th>Film</th>
<th>Year</th>
<th>Rotten Tomatoes' Top 100<sup class="reference" id="cite_ref-1"><a href="#cite_note-1">[1]</a></sup></th>
<th>IMDb's Top 250 <sup class="reference" id="cite_ref-2"><a href="#cite_note-2">[2]</a></sup></th>
<th>Empire's Top 100 <sup class="reference" id="cite_ref-3"><a href="#cite_note-3">[3]</a></sup></th>
<th>AFI's Top 100 <sup class="reference" id="cite_ref-4"><a href="#cite_note-4">[4]</a></sup></th>
<th>BFI's Top 100 <sup class="reference" id="cite_ref-5"><a href="#cite_note-5">[5]</a></sup>
</th></tr>

Row 1: <tr>
<td>1</td>
<td>The Godfather</td>
<td>1972</td>
<td>17</td>
<td>2</td>
<td>3</td>
<td>2</td>
<td>21
</td></tr>

Row 2: <tr>
<td>2</td>
<td>Citizen Kane</td>
<td>1941</td>
<td>2</td>
<td>93</td>
<td>40</td>
<td>1</td>
<td>2
</td></tr>

Things we gleaned:
- The first row contains the column headers, i.e. not all rows contain the data we need
- The data we want to extract starts at the second row 
- Each cell containing the data we need is denoted by the `<td>` tag
  - Average Rank: 1st cell in row (index 0)
  - Film Title: 2nd cell in row (index 1)
  - Year: 3rd cell in row (index 2)

# Project Task 3: Scrape the required information
We can now iterate through the rows, taking care to skip rows that do not contain the `<td>` tag, to get the required data.

Note the use of `bs4`'s `contents` field to access the contents of the cell, i.e. excluding the tags.

In [50]:
# Iterate through the rows to find the data from each column (with tag 'td')
count = 0
output_rows_list = []
for row in target_rows_data:
    if count < NUM_ENTRIES_TO_SCRAPE:
        cells = row.find_all('td')
        if len(cells) > 0:
            print(f"Found column #{count}: {cells}")
            data_dict = {"Average Rank": int(cells[0].contents[0]),
                        "Film": str(cells[1].contents[0]),
                        "Year": int(cells[2].contents[0])}
            print(f"\tExtracted data: {data_dict}\n")
            output_rows_list.append(data_dict)
            count = count + 1
    else:
        break

Found column #0: [<td>1</td>, <td>The Godfather</td>, <td>1972</td>, <td>17</td>, <td>2</td>, <td>3</td>, <td>2</td>, <td>21
</td>]
	Extracted data: {'Average Rank': 1, 'Film': 'The Godfather', 'Year': 1972}

Found column #1: [<td>2</td>, <td>Citizen Kane</td>, <td>1941</td>, <td>2</td>, <td>93</td>, <td>40</td>, <td>1</td>, <td>2
</td>]
	Extracted data: {'Average Rank': 2, 'Film': 'Citizen Kane', 'Year': 1941}

Found column #2: [<td>3</td>, <td>Casablanca</td>, <td>1942</td>, <td>8</td>, <td>42</td>, <td>33</td>, <td>3</td>, <td>84
</td>]
	Extracted data: {'Average Rank': 3, 'Film': 'Casablanca', 'Year': 1942}

Found column #3: [<td>4</td>, <td>The Godfather, Part II</td>, <td>1974</td>, <td>99</td>, <td>4</td>, <td>14</td>, <td>32</td>, <td>31
</td>]
	Extracted data: {'Average Rank': 4, 'Film': 'The Godfather, Part II', 'Year': 1974}

Found column #4: [<td>5</td>, <td>Singin' in the Rain</td>, <td>1952</td>, <td>52</td>, <td>85</td>, <td>67</td>, <td>5</td>, <td>20
</td>]
	Extracted data: {'Average Rank': 5, 'Film': "Singin' in the Rain", 'Year': 1952}

Found column #5: [<td>6</td>, <td>Psycho</td>, <td>1960</td>, <td>88</td>, <td>32</td>, <td>81</td>, <td>14</td>, <td>35
</td>]
	Extracted data: {'Average Rank': 6, 'Film': 'Psycho', 'Year': 1960}

Found column #6: [<td>7</td>, <td>Rear Window</td>, <td>1954</td>, <td>47</td>, <td>49</td>, <td>72</td>, <td>48</td>, <td>53
</td>]
	Extracted data: {'Average Rank': 7, 'Film': 'Rear Window', 'Year': 1954}

Found column #7: [<td>8</td>, <td>Apocalypse Now</td>, <td>1979</td>, <td>unranked</td>, <td>55</td>, <td>29</td>, <td>30</td>, <td>14
</td>]
	Extracted data: {'Average Rank': 8, 'Film': 'Apocalypse Now', 'Year': 1979}

Found column #8: [<td>9</td>, <td>2001: A Space Odyssey</td>, <td>1968</td>, <td>unranked</td>, <td>89</td>, <td>23</td>, <td>15</td>, <td>6
</td>]
	Extracted data: {'Average Rank': 9, 'Film': '2001: A Space Odyssey', 'Year': 1968}

Found column #9: [<td>10</td>, <td>Seven Samurai</td>, <td>1954</td>, <td>49</td>, <td>20</td>, <td>65</td>, <td>unranked</td>, <td>17
</td>]
	Extracted data: {'Average Rank': 10, 'Film': 'Seven Samurai', 'Year': 1954}

Found column #10: [<td>11</td>, <td>Vertigo</td>, <td>1958</td>, <td>unranked</td>, <td>99</td>, <td>50</td>, <td>9</td>, <td>1
</td>]
	Extracted data: {'Average Rank': 11, 'Film': 'Vertigo', 'Year': 1958}

Found column #11: [<td>12</td>, <td>Sunset Blvd</td>, <td>1950</td>, <td>21</td>, <td>60</td>, <td>unranked</td>, <td>16</td>, <td>63
</td>]
	Extracted data: {'Average Rank': 12, 'Film': 'Sunset Blvd', 'Year': 1950}

Found column #12: [<td>13</td>, <td>Modern Times</td>, <td>1936</td>, <td>4</td>, <td>45</td>, <td>unranked</td>, <td>78</td>, <td>63
</td>]
	Extracted data: {'Average Rank': 13, 'Film': 'Modern Times', 'Year': 1936}

Found column #13: [<td>14</td>, <td>Lawrence of Arabia</td>, <td>1962</td>, <td>unranked</td>, <td>95</td>, <td>62</td>, <td>7</td>, <td>81
</td>]
	Extracted data: {'Average Rank': 14, 'Film': 'Lawrence of Arabia', 'Year': 1962}

Found column #14: [<td>15</td>, <td>North by Northwest</td>, <td>1959</td>, <td>79</td>, <td>98</td>, <td>unranked</td>, <td>55</td>, <td>53
</td>]
	Extracted data: {'Average Rank': 15, 'Film': 'North by Northwest', 'Year': 1959}

Found column #15: [<td>16</td>, <td>Star Wars</td>, <td>1977</td>, <td>unranked</td>, <td>27</td>, <td>11</td>, <td>13</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 16, 'Film': 'Star Wars', 'Year': 1977}

Found column #16: [<td>17</td>, <td>Parasite</td>, <td>2019</td>, <td>6</td>, <td>35</td>, <td>18</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 17, 'Film': 'Parasite', 'Year': 2019}

Found column #17: [<td>18</td>, <td>Schindler's List</td>, <td>1993</td>, <td>unranked</td>, <td>6</td>, <td>46</td>, <td>8</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 18, 'Film': "Schindler's List", 'Year': 1993}

Found column #18: [<td>19</td>, <td>Lord of the Rings: The Fellowship of the Ring</td>, <td>2001</td>, <td>unranked</td>, <td>9</td>, <td>1</td>, <td>50</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 19, 'Film': 'Lord of the Rings: The Fellowship of the Ring', 'Year': 2001}

Found column #19: [<td>20</td>, <td>Shawshank Redemption</td>, <td>1994</td>, <td>unranked</td>, <td>1</td>, <td>5</td>, <td>72</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 20, 'Film': 'Shawshank Redemption', 'Year': 1994}

Found column #20: [<td>21</td>, <td>It's a Wonderful Life</td>, <td>1946</td>, <td>unranked</td>, <td>21</td>, <td>44</td>, <td>20</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 21, 'Film': "It's a Wonderful Life", 'Year': 1946}

Found column #21: [<td>22</td>, <td>Pulp Fiction</td>, <td>1994</td>, <td>unranked</td>, <td>8</td>, <td>7</td>, <td>94</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 22, 'Film': 'Pulp Fiction', 'Year': 1994}

Found column #22: [<td>23</td>, <td>Avengers: Endgame</td>, <td>2019</td>, <td>7</td>, <td>81</td>, <td>22</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 23, 'Film': 'Avengers: Endgame', 'Year': 2019}

Found column #23: [<td>24</td>, <td>City Lights</td>, <td>1931</td>, <td>unranked</td>, <td>51</td>, <td>unranked</td>, <td>11</td>, <td>50
</td>]
	Extracted data: {'Average Rank': 24, 'Film': 'City Lights', 'Year': 1931}

Found column #24: [<td>25</td>, <td>One Flew Over the Cuckoo's Nest</td>, <td>1975</td>, <td>unranked</td>, <td>18</td>, <td>66</td>, <td>33</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 25, 'Film': "One Flew Over the Cuckoo's Nest", 'Year': 1975}

Found column #25: [<td>26</td>, <td>Goodfellas</td>, <td>1990</td>, <td>unranked</td>, <td>17</td>, <td>10</td>, <td>92</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 26, 'Film': 'Goodfellas', 'Year': 1990}

Found column #26: [<td>27</td>, <td>Raiders of the Lost Ark</td>, <td>1981</td>, <td>unranked</td>, <td>56</td>, <td>9</td>, <td>66</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 27, 'Film': 'Raiders of the Lost Ark', 'Year': 1981}

Found column #27: [<td>28</td>, <td>12 Angry Men</td>, <td>1957</td>, <td>unranked</td>, <td>5</td>, <td>42</td>, <td>87</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 28, 'Film': '12 Angry Men', 'Year': 1957}

Found column #28: [<td>29</td>, <td>The Silence of the Lambs</td>, <td>1991</td>, <td>unranked</td>, <td>22</td>, <td>41</td>, <td>74</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 29, 'Film': 'The Silence of the Lambs', 'Year': 1991}

Found column #29: [<td>30</td>, <td>Taxi Driver</td>, <td>1976</td>, <td>unranked</td>, <td>unranked</td>, <td>55</td>, <td>52</td>, <td>31
</td>]
	Extracted data: {'Average Rank': 30, 'Film': 'Taxi Driver', 'Year': 1976}

Found column #30: [<td>31</td>, <td>Saving Private Ryan</td>, <td>1998</td>, <td>unranked</td>, <td>24</td>, <td>54</td>, <td>71</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 31, 'Film': 'Saving Private Ryan', 'Year': 1998}

Found column #31: [<td>32</td>, <td>E.T. the Extra Terrestrial</td>, <td>1982</td>, <td>48</td>, <td>unranked</td>, <td>79</td>, <td>24</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 32, 'Film': 'E.T. the Extra Terrestrial', 'Year': 1982}

Found column #32: [<td>33</td>, <td>Alien</td>, <td>1979</td>, <td>84</td>, <td>50</td>, <td>21</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 33, 'Film': 'Alien', 'Year': 1979}

Found column #33: [<td>34</td>, <td>Spider-Man: Into the Spider-verse</td>, <td>2018</td>, <td>19</td>, <td>70</td>, <td>70</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 34, 'Film': 'Spider-Man: Into the Spider-verse', 'Year': 2018}

Found column #34: [<td>35</td>, <td>Blade Runner</td>, <td>1982</td>, <td>unranked</td>, <td>unranked</td>, <td>16</td>, <td>97</td>, <td>69
</td>]
	Extracted data: {'Average Rank': 35, 'Film': 'Blade Runner', 'Year': 1982}

Found column #35: [<td>36</td>, <td>Double Indemnity</td>, <td>1944</td>, <td>54</td>, <td>100</td>, <td>unranked</td>, <td>29</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 36, 'Film': 'Double Indemnity', 'Year': 1944}

Found column #36: [<td>37</td>, <td>The Dark Knight</td>, <td>2008</td>, <td>unranked</td>, <td>3</td>, <td>4</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 37, 'Film': 'The Dark Knight', 'Year': 2008}

Found column #37: [<td>38</td>, <td><a href="/web/20230902185655/https://en.everybodywiki.com/The_Wizard_of_Oz_(1939_film)" title="The Wizard of Oz (1939 film)">The Wizard of Oz</a></td>, <td>1939</td>, <td>3</td>, <td>unranked</td>, <td>unranked</td>, <td>10</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 38, 'Film': '<a href="/web/20230902185655/https://en.everybodywiki.com/The_Wizard_of_Oz_(1939_film)" title="The Wizard of Oz (1939 film)">The Wizard of Oz</a>', 'Year': 1939}

Found column #38: [<td>39</td>, <td>Star Wars: Episode V- The Empire Strikes Back</td>, <td>1980</td>, <td>unranked</td>, <td>15</td>, <td>2</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 39, 'Film': 'Star Wars: Episode V- The Empire Strikes Back', 'Year': 1980}

Found column #39: [<td>40</td>, <td>The Searchers</td>, <td>1956</td>, <td>unranked</td>, <td>unranked</td>, <td>unranked</td>, <td>12</td>, <td>7
</td>]
	Extracted data: {'Average Rank': 40, 'Film': 'The Searchers', 'Year': 1956}

Found column #40: [<td>41</td>, <td>Mad Max: Fury Road</td>, <td>2015</td>, <td>18</td>, <td>unranked</td>, <td>12</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 41, 'Film': 'Mad Max: Fury Road', 'Year': 2015}

Found column #41: [<td>42</td>, <td>Inception</td>, <td>2010</td>, <td>unranked</td>, <td>13</td>, <td>19</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 42, 'Film': 'Inception', 'Year': 2010}

Found column #42: [<td>43</td>, <td>Lord of the Rings: Return of the King</td>, <td>2003</td>, <td>unranked</td>, <td>7</td>, <td>27</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 43, 'Film': 'Lord of the Rings: Return of the King', 'Year': 2003}

Found column #43: [<td>44</td>, <td>The Matrix</td>, <td>1999</td>, <td>unranked</td>, <td>16</td>, <td>20</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 44, 'Film': 'The Matrix', 'Year': 1999}

Found column #44: [<td>45</td>, <td>Fight Club</td>, <td>1999</td>, <td>unranked</td>, <td>12</td>, <td>25</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 45, 'Film': 'Fight Club', 'Year': 1999}

Found column #45: [<td>46</td>, <td>Back to the Future</td>, <td>1985</td>, <td>unranked</td>, <td>30</td>, <td>13</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 46, 'Film': 'Back to the Future', 'Year': 1985}

Found column #46: [<td>47</td>, <td>It Happened One Night</td>, <td>1934</td>, <td>1</td>, <td>unranked</td>, <td>unranked</td>, <td>46</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 47, 'Film': 'It Happened One Night', 'Year': 1934}

Found column #47: [<td>48</td>, <td>The Good, the Bad, and the Ugly</td>, <td>1966</td>, <td>unranked</td>, <td>10</td>, <td>38</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 48, 'Film': 'The Good, the Bad, and the Ugly', 'Year': 1966}

Found column #48: [<td>49</td>, <td>Lord of the Rings: The Two Towers</td>, <td>2002</td>, <td>unranked</td>, <td>14</td>, <td>34</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 49, 'Film': 'Lord of the Rings: The Two Towers', 'Year': 2002}

Found column #49: [<td>50</td>, <td>All About Eve</td>, <td>1950</td>, <td>22</td>, <td>unranked</td>, <td>unranked</td>, <td>28</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 50, 'Film': 'All About Eve', 'Year': 1950}

Notice that in the row ranked at 38, at index 37, the film title contains a hyperlink. We need to add a block to handle hyperlinks in the title:

In [51]:
# Iterate through the rows to find the data from each column (with tag 'td')
count = 0
output_rows_list = []
for row in target_rows_data:
    if count < NUM_ENTRIES_TO_SCRAPE:
        cells = row.find_all('td')
        if len(cells) > 0:
            print(f"Found column #{count}: {cells}")

            # For titles with hyperlinks, get the contents of the <a> tag
            # By default, extract film title directly through .contents
            film_title = cells[1].contents[0]
            film_title_hyperlink = cells[1].find('a')
            if film_title_hyperlink != None:
                film_title = film_title_hyperlink.contents[0]

            data_dict = {"Average Rank": int(cells[0].contents[0]),
                        "Film": str(film_title),
                        "Year": int(cells[2].contents[0])}
            print(f"\tExtracted data: {data_dict}\n")
            output_rows_list.append(data_dict)
            count = count + 1
    else:
        break

Found column #0: [<td>1</td>, <td>The Godfather</td>, <td>1972</td>, <td>17</td>, <td>2</td>, <td>3</td>, <td>2</td>, <td>21
</td>]
	Extracted data: {'Average Rank': 1, 'Film': 'The Godfather', 'Year': 1972}

Found column #1: [<td>2</td>, <td>Citizen Kane</td>, <td>1941</td>, <td>2</td>, <td>93</td>, <td>40</td>, <td>1</td>, <td>2
</td>]
	Extracted data: {'Average Rank': 2, 'Film': 'Citizen Kane', 'Year': 1941}

Found column #2: [<td>3</td>, <td>Casablanca</td>, <td>1942</td>, <td>8</td>, <td>42</td>, <td>33</td>, <td>3</td>, <td>84
</td>]
	Extracted data: {'Average Rank': 3, 'Film': 'Casablanca', 'Year': 1942}

Found column #3: [<td>4</td>, <td>The Godfather, Part II</td>, <td>1974</td>, <td>99</td>, <td>4</td>, <td>14</td>, <td>32</td>, <td>31
</td>]
	Extracted data: {'Average Rank': 4, 'Film': 'The Godfather, Part II', 'Year': 1974}

Found column #4: [<td>5</td>, <td>Singin' in the Rain</td>, <td>1952</td>, <td>52</td>, <td>85</td>, <td>67</td>, <td>5</td>, <td>20
</td>]
	Extracted data: {'Average Rank': 5, 'Film': "Singin' in the Rain", 'Year': 1952}

Found column #5: [<td>6</td>, <td>Psycho</td>, <td>1960</td>, <td>88</td>, <td>32</td>, <td>81</td>, <td>14</td>, <td>35
</td>]
	Extracted data: {'Average Rank': 6, 'Film': 'Psycho', 'Year': 1960}

Found column #6: [<td>7</td>, <td>Rear Window</td>, <td>1954</td>, <td>47</td>, <td>49</td>, <td>72</td>, <td>48</td>, <td>53
</td>]
	Extracted data: {'Average Rank': 7, 'Film': 'Rear Window', 'Year': 1954}

Found column #7: [<td>8</td>, <td>Apocalypse Now</td>, <td>1979</td>, <td>unranked</td>, <td>55</td>, <td>29</td>, <td>30</td>, <td>14
</td>]
	Extracted data: {'Average Rank': 8, 'Film': 'Apocalypse Now', 'Year': 1979}

Found column #8: [<td>9</td>, <td>2001: A Space Odyssey</td>, <td>1968</td>, <td>unranked</td>, <td>89</td>, <td>23</td>, <td>15</td>, <td>6
</td>]
	Extracted data: {'Average Rank': 9, 'Film': '2001: A Space Odyssey', 'Year': 1968}

Found column #9: [<td>10</td>, <td>Seven Samurai</td>, <td>1954</td>, <td>49</td>, <td>20</td>, <td>65</td>, <td>unranked</td>, <td>17
</td>]
	Extracted data: {'Average Rank': 10, 'Film': 'Seven Samurai', 'Year': 1954}

Found column #10: [<td>11</td>, <td>Vertigo</td>, <td>1958</td>, <td>unranked</td>, <td>99</td>, <td>50</td>, <td>9</td>, <td>1
</td>]
	Extracted data: {'Average Rank': 11, 'Film': 'Vertigo', 'Year': 1958}

Found column #11: [<td>12</td>, <td>Sunset Blvd</td>, <td>1950</td>, <td>21</td>, <td>60</td>, <td>unranked</td>, <td>16</td>, <td>63
</td>]
	Extracted data: {'Average Rank': 12, 'Film': 'Sunset Blvd', 'Year': 1950}

Found column #12: [<td>13</td>, <td>Modern Times</td>, <td>1936</td>, <td>4</td>, <td>45</td>, <td>unranked</td>, <td>78</td>, <td>63
</td>]
	Extracted data: {'Average Rank': 13, 'Film': 'Modern Times', 'Year': 1936}

Found column #13: [<td>14</td>, <td>Lawrence of Arabia</td>, <td>1962</td>, <td>unranked</td>, <td>95</td>, <td>62</td>, <td>7</td>, <td>81
</td>]
	Extracted data: {'Average Rank': 14, 'Film': 'Lawrence of Arabia', 'Year': 1962}

Found column #14: [<td>15</td>, <td>North by Northwest</td>, <td>1959</td>, <td>79</td>, <td>98</td>, <td>unranked</td>, <td>55</td>, <td>53
</td>]
	Extracted data: {'Average Rank': 15, 'Film': 'North by Northwest', 'Year': 1959}

Found column #15: [<td>16</td>, <td>Star Wars</td>, <td>1977</td>, <td>unranked</td>, <td>27</td>, <td>11</td>, <td>13</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 16, 'Film': 'Star Wars', 'Year': 1977}

Found column #16: [<td>17</td>, <td>Parasite</td>, <td>2019</td>, <td>6</td>, <td>35</td>, <td>18</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 17, 'Film': 'Parasite', 'Year': 2019}

Found column #17: [<td>18</td>, <td>Schindler's List</td>, <td>1993</td>, <td>unranked</td>, <td>6</td>, <td>46</td>, <td>8</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 18, 'Film': "Schindler's List", 'Year': 1993}

Found column #18: [<td>19</td>, <td>Lord of the Rings: The Fellowship of the Ring</td>, <td>2001</td>, <td>unranked</td>, <td>9</td>, <td>1</td>, <td>50</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 19, 'Film': 'Lord of the Rings: The Fellowship of the Ring', 'Year': 2001}

Found column #19: [<td>20</td>, <td>Shawshank Redemption</td>, <td>1994</td>, <td>unranked</td>, <td>1</td>, <td>5</td>, <td>72</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 20, 'Film': 'Shawshank Redemption', 'Year': 1994}

Found column #20: [<td>21</td>, <td>It's a Wonderful Life</td>, <td>1946</td>, <td>unranked</td>, <td>21</td>, <td>44</td>, <td>20</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 21, 'Film': "It's a Wonderful Life", 'Year': 1946}

Found column #21: [<td>22</td>, <td>Pulp Fiction</td>, <td>1994</td>, <td>unranked</td>, <td>8</td>, <td>7</td>, <td>94</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 22, 'Film': 'Pulp Fiction', 'Year': 1994}

Found column #22: [<td>23</td>, <td>Avengers: Endgame</td>, <td>2019</td>, <td>7</td>, <td>81</td>, <td>22</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 23, 'Film': 'Avengers: Endgame', 'Year': 2019}

Found column #23: [<td>24</td>, <td>City Lights</td>, <td>1931</td>, <td>unranked</td>, <td>51</td>, <td>unranked</td>, <td>11</td>, <td>50
</td>]
	Extracted data: {'Average Rank': 24, 'Film': 'City Lights', 'Year': 1931}

Found column #24: [<td>25</td>, <td>One Flew Over the Cuckoo's Nest</td>, <td>1975</td>, <td>unranked</td>, <td>18</td>, <td>66</td>, <td>33</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 25, 'Film': "One Flew Over the Cuckoo's Nest", 'Year': 1975}

Found column #25: [<td>26</td>, <td>Goodfellas</td>, <td>1990</td>, <td>unranked</td>, <td>17</td>, <td>10</td>, <td>92</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 26, 'Film': 'Goodfellas', 'Year': 1990}

Found column #26: [<td>27</td>, <td>Raiders of the Lost Ark</td>, <td>1981</td>, <td>unranked</td>, <td>56</td>, <td>9</td>, <td>66</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 27, 'Film': 'Raiders of the Lost Ark', 'Year': 1981}

Found column #27: [<td>28</td>, <td>12 Angry Men</td>, <td>1957</td>, <td>unranked</td>, <td>5</td>, <td>42</td>, <td>87</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 28, 'Film': '12 Angry Men', 'Year': 1957}

Found column #28: [<td>29</td>, <td>The Silence of the Lambs</td>, <td>1991</td>, <td>unranked</td>, <td>22</td>, <td>41</td>, <td>74</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 29, 'Film': 'The Silence of the Lambs', 'Year': 1991}

Found column #29: [<td>30</td>, <td>Taxi Driver</td>, <td>1976</td>, <td>unranked</td>, <td>unranked</td>, <td>55</td>, <td>52</td>, <td>31
</td>]
	Extracted data: {'Average Rank': 30, 'Film': 'Taxi Driver', 'Year': 1976}

Found column #30: [<td>31</td>, <td>Saving Private Ryan</td>, <td>1998</td>, <td>unranked</td>, <td>24</td>, <td>54</td>, <td>71</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 31, 'Film': 'Saving Private Ryan', 'Year': 1998}

Found column #31: [<td>32</td>, <td>E.T. the Extra Terrestrial</td>, <td>1982</td>, <td>48</td>, <td>unranked</td>, <td>79</td>, <td>24</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 32, 'Film': 'E.T. the Extra Terrestrial', 'Year': 1982}

Found column #32: [<td>33</td>, <td>Alien</td>, <td>1979</td>, <td>84</td>, <td>50</td>, <td>21</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 33, 'Film': 'Alien', 'Year': 1979}

Found column #33: [<td>34</td>, <td>Spider-Man: Into the Spider-verse</td>, <td>2018</td>, <td>19</td>, <td>70</td>, <td>70</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 34, 'Film': 'Spider-Man: Into the Spider-verse', 'Year': 2018}

Found column #34: [<td>35</td>, <td>Blade Runner</td>, <td>1982</td>, <td>unranked</td>, <td>unranked</td>, <td>16</td>, <td>97</td>, <td>69
</td>]
	Extracted data: {'Average Rank': 35, 'Film': 'Blade Runner', 'Year': 1982}

Found column #35: [<td>36</td>, <td>Double Indemnity</td>, <td>1944</td>, <td>54</td>, <td>100</td>, <td>unranked</td>, <td>29</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 36, 'Film': 'Double Indemnity', 'Year': 1944}

Found column #36: [<td>37</td>, <td>The Dark Knight</td>, <td>2008</td>, <td>unranked</td>, <td>3</td>, <td>4</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 37, 'Film': 'The Dark Knight', 'Year': 2008}

Found column #37: [<td>38</td>, <td><a href="/web/20230902185655/https://en.everybodywiki.com/The_Wizard_of_Oz_(1939_film)" title="The Wizard of Oz (1939 film)">The Wizard of Oz</a></td>, <td>1939</td>, <td>3</td>, <td>unranked</td>, <td>unranked</td>, <td>10</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 38, 'Film': 'The Wizard of Oz', 'Year': 1939}

Found column #38: [<td>39</td>, <td>Star Wars: Episode V- The Empire Strikes Back</td>, <td>1980</td>, <td>unranked</td>, <td>15</td>, <td>2</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 39, 'Film': 'Star Wars: Episode V- The Empire Strikes Back', 'Year': 1980}

Found column #39: [<td>40</td>, <td>The Searchers</td>, <td>1956</td>, <td>unranked</td>, <td>unranked</td>, <td>unranked</td>, <td>12</td>, <td>7
</td>]
	Extracted data: {'Average Rank': 40, 'Film': 'The Searchers', 'Year': 1956}

Found column #40: [<td>41</td>, <td>Mad Max: Fury Road</td>, <td>2015</td>, <td>18</td>, <td>unranked</td>, <td>12</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 41, 'Film': 'Mad Max: Fury Road', 'Year': 2015}

Found column #41: [<td>42</td>, <td>Inception</td>, <td>2010</td>, <td>unranked</td>, <td>13</td>, <td>19</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 42, 'Film': 'Inception', 'Year': 2010}

Found column #42: [<td>43</td>, <td>Lord of the Rings: Return of the King</td>, <td>2003</td>, <td>unranked</td>, <td>7</td>, <td>27</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 43, 'Film': 'Lord of the Rings: Return of the King', 'Year': 2003}

Found column #43: [<td>44</td>, <td>The Matrix</td>, <td>1999</td>, <td>unranked</td>, <td>16</td>, <td>20</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 44, 'Film': 'The Matrix', 'Year': 1999}

Found column #44: [<td>45</td>, <td>Fight Club</td>, <td>1999</td>, <td>unranked</td>, <td>12</td>, <td>25</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 45, 'Film': 'Fight Club', 'Year': 1999}

Found column #45: [<td>46</td>, <td>Back to the Future</td>, <td>1985</td>, <td>unranked</td>, <td>30</td>, <td>13</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 46, 'Film': 'Back to the Future', 'Year': 1985}

Found column #46: [<td>47</td>, <td>It Happened One Night</td>, <td>1934</td>, <td>1</td>, <td>unranked</td>, <td>unranked</td>, <td>46</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 47, 'Film': 'It Happened One Night', 'Year': 1934}

Found column #47: [<td>48</td>, <td>The Good, the Bad, and the Ugly</td>, <td>1966</td>, <td>unranked</td>, <td>10</td>, <td>38</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 48, 'Film': 'The Good, the Bad, and the Ugly', 'Year': 1966}

Found column #48: [<td>49</td>, <td>Lord of the Rings: The Two Towers</td>, <td>2002</td>, <td>unranked</td>, <td>14</td>, <td>34</td>, <td>unranked</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 49, 'Film': 'Lord of the Rings: The Two Towers', 'Year': 2002}

Found column #49: [<td>50</td>, <td>All About Eve</td>, <td>1950</td>, <td>22</td>, <td>unranked</td>, <td>unranked</td>, <td>28</td>, <td>unranked
</td>]
	Extracted data: {'Average Rank': 50, 'Film': 'All About Eve', 'Year': 1950}

Now that we extracted the data required, all that's left to do is to create a Pandas DataFrame out of the list of dicts `output_rows_list`:

In [52]:
output_df = pd.DataFrame.from_dict(output_rows_list)

print(output_df.info(), "\n")
print(output_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Average Rank  50 non-null     int64
 1   Film          50 non-null     object
 2   Year          50 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.3+ KB
None

    Average Rank                                           Film  Year
0              1                                  The Godfather  1972
1              2                                   Citizen Kane  1941
2              3                                     Casablanca  1942
3              4                         The Godfather, Part II  1974
4              5                            Singin' in the Rain  1952
5              6                                         Psycho  1960
6              7                                    Rear Window  1954
7              8                                 Apocalypse Now  1979
8              9                          2001: A Space Odyssey  1968
9             10                                  Seven Samurai  1954
10            11                                        Vertigo  1958
11            12                                    Sunset Blvd  1950
12            13                                   Modern Times  1936
13            14                             Lawrence of Arabia  1962
14            15                             North by Northwest  1959
15            16                                      Star Wars  1977
16            17                                       Parasite  2019
17            18                               Schindler's List  1993
18            19  Lord of the Rings: The Fellowship of the Ring  2001
19            20                           Shawshank Redemption  1994
20            21                          It's a Wonderful Life  1946
21            22                                   Pulp Fiction  1994
22            23                              Avengers: Endgame  2019
23            24                                    City Lights  1931
24            25                One Flew Over the Cuckoo's Nest  1975
25            26                                     Goodfellas  1990
26            27                        Raiders of the Lost Ark  1981
27            28                                   12 Angry Men  1957
28            29                       The Silence of the Lambs  1991
29            30                                    Taxi Driver  1976
30            31                            Saving Private Ryan  1998
31            32                     E.T. the Extra Terrestrial  1982
32            33                                          Alien  1979
33            34              Spider-Man: Into the Spider-verse  2018
34            35                                   Blade Runner  1982
35            36                               Double Indemnity  1944
36            37                                The Dark Knight  2008
37            38                               The Wizard of Oz  1939
38            39  Star Wars: Episode V- The Empire Strikes Back  1980
39            40                                  The Searchers  1956
40            41                             Mad Max: Fury Road  2015
41            42                                      Inception  2010
42            43          Lord of the Rings: Return of the King  2003
43            44                                     The Matrix  1999
44            45                                     Fight Club  1999
45            46                             Back to the Future  1985
46            47                          It Happened One Night  1934
47            48                The Good, the Bad, and the Ugly  1966
48            49              Lord of the Rings: The Two Towers  2002
49            50                                  All About Eve  1950

We have now successfully extracted the Average Rank, Title, and Year data of the Top 50 Most Highly-Ranked Films into a Pandas DataFrame, `output_df`.

## Storing the data
For the last task, we need to load the extracted and transformed data into a CSV file and a Database file.

## Saving the output to a CSV 
The loading to CSV file is easily done using Pandas `to_csv()` method.
The filename for the output CSV file was previously defined as `TARGET_OUTPUT_FILE`.

In [53]:
# Save output to CSV
output_df.to_csv(TARGET_OUTPUT_CSV_FILE)

To verify, we can check the contents of the output CSV file like below:

In [54]:
# Check the output CSV file:
with open(TARGET_OUTPUT_CSV_FILE, 'r') as f:
    print(f.read())

,Average Rank,Film,Year
0,1,The Godfather,1972
1,2,Citizen Kane,1941
2,3,Casablanca,1942
3,4,"The Godfather, Part II",1974
4,5,Singin' in the Rain,1952
5,6,Psycho,1960
6,7,Rear Window,1954
7,8,Apocalypse Now,1979
8,9,2001: A Space Odyssey,1968
9,10,Seven Samurai,1954
10,11,Vertigo,1958
11,12,Sunset Blvd,1950
12,13,Modern Times,1936
13,14,Lawrence of Arabia,1962
14,15,North by Northwest,1959
15,16,Star Wars,1977
16,17,Parasite,2019
17,18,Schindler's List,1993
18,19,Lord of the Rings: The Fellowship of the Ring,2001
19,20,Shawshank Redemption,1994
20,21,It's a Wonderful Life,1946
21,22,Pulp Fiction,1994
22,23,Avengers: Endgame,2019
23,24,City Lights,1931
24,25,One Flew Over the Cuckoo's Nest,1975
25,26,Goodfellas,1990
26,27,Raiders of the Lost Ark,1981
27,28,12 Angry Men,1957
28,29,The Silence of the Lambs,1991
29,30,Taxi Driver,1976
30,31,Saving Private Ryan,1998
31,32,E.T. the Extra Terrestrial,1982
32,33,Alien,1979
33,34,Spider-Man: Into the Spider-verse,2018
34,35,Blade Runner,1982
35,36,Double Indemnity,1944
36,37,The Dark Knight,2008
37,38,The Wizard of Oz,1939
38,39,Star Wars: Episode V- The Empire Strikes Back,1980
39,40,The Searchers,1956
40,41,Mad Max: Fury Road,2015
41,42,Inception,2010
42,43,Lord of the Rings: Return of the King,2003
43,44,The Matrix,1999
44,45,Fight Club,1999
45,46,Back to the Future,1985
46,47,It Happened One Night,1934
47,48,"The Good, the Bad, and the Ugly",1966
48,49,Lord of the Rings: The Two Towers,2002
49,50,All About Eve,1950

## Storing the output to a CSV
Using the built-in `sqlite3` package and Pandas DataFrame `to_sql()` method, we can export our output dataframe into a database file.

The filename for the output DB filename was previously defined as `TARGET_DB_NAME`, while the target table name was previously defined as `TARGET_DB_TABLE_NAME`.

In [55]:
# Save output to DB
with sqlite3.connect(TARGET_DB_NAME) as conn:
    output_df.to_sql(name=TARGET_DB_TABLE_NAME, con=conn, if_exists='replace', index=False)

To verify, we can check the contents of the DB using Pandas `read_sql()` method like below:

In [56]:
# Check the output DB file by querying:
query_all = 'SELECT *' \
    f' FROM {TARGET_DB_TABLE_NAME};'

query_some = 'SELECT Year, Film' \
    f' FROM {TARGET_DB_TABLE_NAME}' \
    ' WHERE Year BETWEEN 2000 AND 2025' \
    ' ORDER BY Year DESC;'

with sqlite3.connect(TARGET_DB_NAME) as conn:
    print('query_all:\n', pd.read_sql(query_all, con = conn), '\n')
    print('query_some:\n', pd.read_sql(query_some, con = conn), '\n')

query_all:
     Average Rank                                           Film  Year
0              1                                  The Godfather  1972
1              2                                   Citizen Kane  1941
2              3                                     Casablanca  1942
3              4                         The Godfather, Part II  1974
4              5                            Singin' in the Rain  1952
5              6                                         Psycho  1960
6              7                                    Rear Window  1954
7              8                                 Apocalypse Now  1979
8              9                          2001: A Space Odyssey  1968
9             10                                  Seven Samurai  1954
10            11                                        Vertigo  1958
11            12                                    Sunset Blvd  1950
12            13                                   Modern Times  1936
13            14                             Lawrence of Arabia  1962
14            15                             North by Northwest  1959
15            16                                      Star Wars  1977
16            17                                       Parasite  2019
17            18                               Schindler's List  1993
18            19  Lord of the Rings: The Fellowship of the Ring  2001
19            20                           Shawshank Redemption  1994
20            21                          It's a Wonderful Life  1946
21            22                                   Pulp Fiction  1994
22            23                              Avengers: Endgame  2019
23            24                                    City Lights  1931
24            25                One Flew Over the Cuckoo's Nest  1975
25            26                                     Goodfellas  1990
26            27                        Raiders of the Lost Ark  1981
27            28                                   12 Angry Men  1957
28            29                       The Silence of the Lambs  1991
29            30                                    Taxi Driver  1976
30            31                            Saving Private Ryan  1998
31            32                     E.T. the Extra Terrestrial  1982
32            33                                          Alien  1979
33            34              Spider-Man: Into the Spider-verse  2018
34            35                                   Blade Runner  1982
35            36                               Double Indemnity  1944
36            37                                The Dark Knight  2008
37            38                               The Wizard of Oz  1939
38            39  Star Wars: Episode V- The Empire Strikes Back  1980
39            40                                  The Searchers  1956
40            41                             Mad Max: Fury Road  2015
41            42                                      Inception  2010
42            43          Lord of the Rings: Return of the King  2003
43            44                                     The Matrix  1999
44            45                                     Fight Club  1999
45            46                             Back to the Future  1985
46            47                          It Happened One Night  1934
47            48                The Good, the Bad, and the Ugly  1966
48            49              Lord of the Rings: The Two Towers  2002
49            50                                  All About Eve  1950

query_some:
    Year                                           Film
0  2019                                       Parasite
1  2019                              Avengers: Endgame
2  2018              Spider-Man: Into the Spider-verse
3  2015                             Mad Max: Fury Road
4  2010                                      Inception
5  2008                                The Dark Knight
6  2003          Lord of the Rings: Return of the King
7  2002              Lord of the Rings: The Two Towers
8  2001  Lord of the Rings: The Fellowship of the Ring

# Acknowledgements
## Course Instructors
- Ramesh Sannareddy
- Joseph Santarcangelo
- Abhishek Gagneja
## Course Offered By
* [IBM Skills Network](https://www.coursera.org/partners/ibm-skills-network)